body{
	background-color: rgb(250, 234, 7);
	width:100%;
	height:450px;
	background-attachment: fixed;
}
h1{
	font-size: 30px;
	position: absolute;
	top: 0px;
	left: 550px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color:rgb(243, 239, 4);
    text-align: center;
    font-style: italic;
    font-size: 45px;
    font-weight: bold;
}
#h1::before{
	content: url(rguktlogo2.png);
}
#developer{
	position: absolute;
	top: 0px;
	left: 0px;
	border: 3px solid black;
	float: left;
}
#ver-nav-icon{
	position: absolute;
	top: 70px;
	right: 10px;
	float: right;
}
.img{
	width: 55px;
	height: 55px;
	padding: 23px;
	border-radius: 23%;
	border-style:rgb(207, 255, 192);
}
#imname{
	position: absolute;
	top: 15px;
	left: 5px;
	font-size: 25px;
	visibility: hidden;
}
#ver-nav{
	visibility: hidden;
}
ul.mainmenu,ul.submenu1,ul.submenu11,ul.submenu12,ul.submenu13,ul.submenu14,ul.submenu15,ul.submenu16,ul.submenu2{
list-style-type: none;
font-size: 15px ;
}
ul.mainmenu li{
width: 125px;
text-align: center;
position: relative;
float: left;
margin-right: 30px;
/*margin-top: 10px;
margin-left: 40px;
border: 2px solid red;*/
}
ul.mainmenu a:not(.h){
text-decoration: none;
display: block;
width: 125px;
height: 25px;
line-height: 25px;
background-color: white;
border-radius: 7px;
border: 2px solid black;
}
ul.mainmenu img{
text-decoration: none;
display:block;
width: 25px;
height: 25px;
line-height: 25px;
background-color: white;
border-radius: 7px;
border: 2px solid black;
}
ul.mainmenu .submenu1 a{
margin-top: 3px;
margin-left: 30px;
}
ul.mainmenu .submenu2 a{
margin-top: 3px;
margin-left: 30px;
}
ul.mainmenu .submenu11 a{
margin-left: 15px;
}
ul.mainmenu .submenu12 a{
margin-left: 15px;
}
ul.mainmenu .submenu13 a{
margin-left: 15px;
}
ul.mainmenu .submenu14 a{
margin-left: 15px;
}
ul.mainmenu .submenu15 a{
margin-left: 15px;
}
ul.mainmenu .submenu16 a{
margin-left: 15px;
}
ul.mainmenu li:hover > a{
background-color: #CFC;
}
ul.mainmenu li:hover a:hover{
background-color: rgb(39, 255, 20);
}
ul.mainmenu ul.submenu1{
display: none;
position: absolute;
top: 26px;
left: 0px;
}
ul.mainmenu ul.submenu2{
display: none;
position: absolute;
top: 26px;
left: 0px;
}
ul.mainmenu ul.submenu11{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu ul.submenu12{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu ul.submenu13{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu ul.submenu14{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu ul.submenu15{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu ul.submenu16{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu li:hover .submenu1{
display:block;
}
ul.mainmenu li:hover .submenu2{
display:block;
}
ul.mainmenu .submenu1 li:hover .submenu11{
display:block;
}
ul.mainmenu .submenu1 li:hover .submenu12{
display:block;
}
ul.mainmenu .submenu1 li:hover .submenu13{
display:block;
}
ul.mainmenu .submenu1 li:hover .submenu14{
display:block;
}
ul.mainmenu .submenu1 li:hover .submenu15{
display:block;
}
ul.mainmenu .submenu1 li:hover .submenu16{
display:block;
}
ul.mainmenu1,ul.submenu3,ul.submenu111,ul.submenu112,ul.submenu113,ul.submenu114,ul.submenu115,ul.submenu116,ul.submenu4{
list-style-type: none;
font-size: 15px ;
}
ul.mainmenu1 li{
width: 125px;
text-align: center;
position: relative;
float: left;
margin-right: 30px;
/*margin-top: 10px;
margin-left: 40px;
border: 2px solid red;*/
}
ul.mainmenu1 a:not(.h){
text-decoration: none;
display: block;
width: 125px;
height: 25px;
line-height: 25px;
background-color: white;
border-radius: 7px;
border: 2px solid black;
}
ul.mainmenu1 img{
text-decoration: none;
display: block;
width: 25px;
height: 25px;
line-height: 25px;
background-color: white;
border-radius: 7px;
border: 2px solid black;
}
ul.mainmenu1 .submenu3 a{
margin-top: 3px;
margin-left: 30px;
}
ul.mainmenu1 .submenu4 a{
margin-top: 3px;
margin-left: 30px;
}
ul.mainmenu1 .submenu111 a{
margin-left: 15px;
}
ul.mainmenu1 .submenu112 a{
margin-left: 15px;
}
ul.mainmenu1 .submenu113 a{
margin-left: 15px;
}
ul.mainmenu1 .submenu114 a{
margin-left: 15px;
}
ul.mainmenu1 .submenu115 a{
margin-left: 15px;
}
ul.mainmenu1 .submenu116 a{
margin-left: 15px;
}
ul.mainmenu1 li:hover > a{
background-color: #CFC;
}
ul.mainmenu1 li:hover a:hover{
background-color: deeppink;
}
ul.mainmenu1 ul.submenu3{
display: none;
position: absolute;
top: 26px;
left: 0px;
}
ul.mainmenu1 ul.submenu4{
display: none;
position: absolute;
top: 26px;
left: 0px;
}
ul.mainmenu1 ul.submenu111{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu1 ul.submenu112{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu1 ul.submenu113{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu1 ul.submenu114{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu1 ul.submenu115{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu1 ul.submenu116{
display: none;
position: absolute;
top: 0px;
left: 120px;
}
ul.mainmenu1 li:hover .submenu3{
display:block;
}
ul.mainmenu1 li:hover .submenu4{
display:block;
}
ul.mainmenu1 .submenu3 li:hover .submenu111{
display:block;
}
ul.mainmenu1 .submenu3 li:hover .submenu112{
display:block;
}
ul.mainmenu1 .submenu3 li:hover .submenu113{
display:block;
}
ul.mainmenu1 .submenu3 li:hover .submenu114{
display:block;
}
ul.mainmenu1 .submenu3 li:hover .submenu115{
display:block;
}
ul.mainmenu1 .submenu3 li:hover .submenu116{
display:block;
}
#main-footer{
	background-color:darkgreen;
	text-align: center;
	color: white;
	width: 99%;
	height: 30px;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
#main-footer p{
	margin-top: 0px;
	padding: 15px;
	display: inline;
}
.foot{
	float: right;
	margin-right: 10px;
	display: inline;
}
@keyframes slider{

  	0%
  	{
  		background-image:url("b1.jpg") ;
  		background-size: 900px;
  	}
  	25%{
  		background-image:url("b2.jpg") ;
  		background-size: 900px;
  	}
  	50%
  	{
  		background-image:url("nature4.jpg") ;
  		background-size: 900px;
  	}
  	75%
  	{
  		background-image:url("nature5.jpg") ;
  		background-size: 900px;
  	}
  	100%
  	{
  		background-image:url("nature6.jpg") ;
  		background-size: 900px;
  	}
  }
  .image{
	float: left;
	animation: example 10s linear infinite 1s normal both;
}
@keyframes example{
	0%{
		opacity: 0.0;
	 transform: translateX(-120px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	 box-shadow: 1px 1px 1px blue;
	}
	50%{
		opacity: 1.0;
	}
	100%{
		opacity: 0.0;
		transform: translateX(1400px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
		box-shadow: 5px 5px 5px maroon;
	}
	
}#hor-nav{
	background-color:skyblue;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 106px;
	left: 0px;
}
#ver-nav{
	background-color:blue;
	width: 200px;
	height: 150px;
	position: absolute;
	top: 106px;
	right:10px;
	z-index: 1;
}
.showSlide {  
	display: none  
}  
	.showSlide img {  
		width: 100%;  
	}  
#slidercontainer {  
	width: 625px;
	height:400px ;
	z-index:-1;
	position: relative;  
	margin:absolute; 
	top:170px; 
	left: 354px;
	border: 2px solid black;
	border-radius: 15px;
}  
.left, .right {  
	cursor: pointer;  
	position: absolute;  
	top: 50%;  
	width: auto;  
	padding: 16px;  
	margin-top: -22px;  
	color: white;  
	font-weight: bold;  
	font-size: 18px;  
	transition: 0.6s ease;  
	border-radius: 0 3px 3px 0;  
}  
.right {  
	right: 0;  
	border-radius: 3px 0 0 3px;  
}  
	.left:hover, .right:hover {  
		background-color: rgba(115, 115, 115, 0.8);  
	}  
.content {  
	color: #eff5d4;  
	font-size: 30px;  
	padding: 8px 12px;  
	position: absolute;  
	top: 10px;
	width: 100%;  
	text-align: center;  
}  
.active {  
	background-color: #717171;  
}  
/* Fading animation */  
.fade {  
	-webkit-animation-name: fade;  
	-webkit-animation-duration: 1.5s;  
	animation-name: fade;  
	animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  

@keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}
@media only screen and (max-width: 600px)
{
	#hor-nav
	{
		visibility: hidden;
	}
} 
#fil_ter
{

	background-color:pink;
	width: 350px;
	height: 400px;
	position: absolute;
	top: 185px;
	display: inline-block;
	overflow: scroll;
	border: 2px solid black;
	border-radius: 15px;
}
#fil_ter ol li
{
	width: 150px;
	margin-bottom: 3px;
	font-size: 20px;
}
#fil_ter button
{
	margin-left: 50px;
}
#fil_ter .delete
{
background-color: blue;
}
#fil_ter button:hover
{
background-color: red;
} 
#notifications
{		
	background-color:pink;
	width: 350px;
	height: 400px;
	position: absolute;
	top: 185px;
	right: 0px;
	display: inline-block;
	overflow: scroll;
	border: 2px solid black;
	border-radius: 15px;
}
#student_regis{
	background-color: lightblue;
	height: 250px;
	width: 350px;
	position: absolute;
	top:190px ;
	left: 400px;
	visibility: hidden;
	z-index: 1;
	border: 2px solid black;
	border-radius: 15px;
}
#faculty_regis{
	background-color: lightblue;
	height: 250px;
	width: 350px;
	position: absolute;
	top:190px ;
	left: 400px;
	visibility: hidden;
	z-index: 1;
	border: 2px solid black;
	border-radius: 15px;
}
#exam_regis{
	background-color: pink;
	width: 700px;
	position: absolute;
	top:190px ;
	left: 200px;
	z-index:1;
	visibility: hidden;
	border: 2px solid black;
	border-radius: 15px;
	animation-name: slider;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	background-repeat: no-repeat;
}
#Address{
	background-color:lavenderblush;
	width: 900px;
	position: absolute;
	top:190px ;
	left: 100px;
	font-size: 15px;
	z-index:-1;
	visibility: hidden;
	border: 2px solid black;
	border-radius: 15px;
}
#map{
	width: 1200px;
	position: absolute;
	top:190px ;
	left: 100px;
	font-size: 15px;
	z-index: -1;
	visibility: hidden;
}
#scrh ul li{
	background-color: grey;
	width: 150px;
	list-style-type: none;
	margin-bottom: 3px;
}
#scrh button{
	margin-left: 50px;
}
#scrh .delete
{
	background-color: blue;
}
#myform button:hover{
	background-color: red;
}
#scrh button:hover{
	background-color: red;
}
#clock
{
	background-color:pink;
	font-size: 30px;
	height: 50px;
	width: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
}
#marquee{
	background-color: white;
	width: 100%;
	color:black;
	font-size: 20px;
	position: absolute;
	top: 155px;
	left: 0px;
	font-weight: bold;
}
#ani{
	position: absolute;
	top: 0px;
}